bin/
obj/

*.csproj.user
*.suo
*.userosscache
*.userprefs
*.rsuser
*.sln.docstates

appsettings.Development.json
appsettings.json

.vscode/
.idea/
.vs/

*.log
*.tlg
*.pdb
*.cache
*.ilk
*.meta
*.tmp
*.swp

**/packages/
*.nupkg

*.mdf
*.ldf

wwwroot/

Dockerfile
.dockerignore

/Config